<div class="swiper-slide-text">
  <div class="swiper-slide-text-title">Floral Print Wrap Dress</div>
  <div class="swiper-slide-text-price">$21.50</div>
  <div class="swiper-slide-text-oldprice">$65.00</div>
  {% render '../snippets/shopNow-btn.liquid' %}
</div>
<style>
  .swiper-slide-text {
    width: 100%;
    /* height: 1.16rem; */
    padding: 0 0.16rem;
  }

  .swiper-slide-text-title {
    height: 0.44rem;
    font-size: 0.2rem;
    font-family: Floane-Regular, Floane;
    font-weight: 400;
    color: #303133;
    line-height: 0.44rem;
    overflow: hidden;
    text-align: center;
  }

  .swiper-slide-text-price {
    height: 0.44rem;
    font-size: 0.24rem;
    font-family: Aileron-SemiBold, Aileron;
    font-weight: 600;
    color: #000000;
    line-height: 0.44rem;
    text-align: center;
  }
  .swiper-slide-text-oldprice{
    height: 0.22rem;
    font-size: 0.2rem;
    font-family: Aileron-Regular, Aileron;
    font-weight: 400;
    color: #9B9B9B;
    line-height: 0.2rem;
    text-align: center;
  }
</style>