<div class="shop-now">
  <img src="./assets/images/btn_shopNow@2x.png" alt="">
</div>
<style>
 .shop-now{
   width: 1.34rem;
   height: 0.34rem;
   margin: 0 auto;
 }
 .shop-now img {
   width: 100%;
   height: 100%;
 }
</style>