<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VSHOP</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../node_modules/swiper/dist/css/swiper.min.css">
  <link rel="stylesheet" href="./assets/css/theme.css">
  <!-- <link rel="stylesheet" href="../assets/css/normalize.css"> -->
  {% for link in INDEX.STYLE %}
  <link rel="stylesheet" href="{{ link }}">
  {% endfor %}
</head>

<body>
  <section>
    <div class="notice">
      {% block notice %}{% endblock %}
    </div>
  </section>
  <section>
    <div class="nav">
      {% block nav %}{% endblock %}
    </div>
  </section>
  <section>
    <div class="banner">
      {% block banner %}{% endblock %}
    </div>
  </section>
  <section>
    <div class="vcontainer">
      {% block vcontainer %}{% endblock %}
    </div>
  </section>
  <section>
    <div class="footer">
      {% block footer %}{% endblock %}
    </div>
  </section>

  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  {% for item in INDEX.SCRIPTS %}
  <script src="{{item}}"></script>
  {% endfor %}
</body>

</html>