<section>
  <div class="footer-header">
    <span>About US</span>
    <span></span>
  </div>
  <div class="footer-cantainer">
    <div>
      <span>Link</span>
      <span>
        <a href="#collapseExample" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
          <img src="../assets/images/ic_minus@2x.png">
        </a>
      </span>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="well">
        <ul>
          <li>FAQS</li>
          <li>Shipping&Tracking</li>
          <li>Privacy & security</li>
          <li>Terms & Conditions</li>
        </ul>
      </div>
    </div>

  </div>
</section>