<section>
  <div class="nav-box">
    <div class="menu"></div>
    <div class="logo">LOGO</div>
    <div class="tool-icon">
      <div><img src="../assets/images/home_search_but.png" alt="search"></div>
      <div><img src="../assets/images/home_order_but.png" alt="search"></div>
      <div><img src="../assets/images/icn_basket.png" alt="search"></div>
    </div>
  </div>
</section>