<div class="scroll-banner">
  <div class="scroll-banner-content">
    <div>
      <div>FREE SHIPPING ON ORDERS OF $50 OR MORE1</div>
    </div>
    <div>
      <div>FREE SHIPPING ON ORDERS OF $50 OR MORE2</div>
    </div>

  </div>
</div>