<!-- Swiper -->
<div class="swiper-container-box ">
  <div class="swiper-container {{swiperContainerName}}">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/images/Bitmap@2x(3).png" alt="" srcset="">
        {% render '../snippets/product-meta.liquid' %}
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/Bitmap@2x(3).png" alt="" srcset="">
        {% render '../snippets/product-meta.liquid' %}
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/Bitmap@2x(3).png" alt="" srcset="">
        {% render '../snippets/product-meta.liquid' %}
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/Bitmap@2x(3).png" alt="" srcset="">
        {% render '../snippets/product-meta.liquid' %}
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/Bitmap@2x(3).png" alt="" srcset="">
        {% render '../snippets/product-meta.liquid' %}
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/Bitmap@2x(3).png" alt="" srcset="">
      {% render '../snippets/product-meta.liquid' %}
      </div>
    </div>
    <!-- Add Arrows -->
  </div>
    <div class="button-next {{buttonNext}}">
      <img src="./assets/images/btn_crsl_right@2x(2).png" alt="">
    </div>
    <div class="button-prev {{buttonPrev}}">
      <img src="./assets/images/btn_crsl_left@2x(2).png" alt="">
    </div>
  <script src="../../node_modules/swiper/dist/js/swiper.min.js"></script>
  <!-- Initialize Swiper -->
{% assign self_className = className %}
  
</div>
