.newProduct1{
  width:100% ;
  /* padding: 0 0.32rem; */
  color:#000;
  margin: 0;
  padding: 0;
  position: relative;
}
.newProduct1 .productCategory{
  height: 1.06rem;
  font-size: 0.32rem;
  font-family: Floane-Regular, Floane;
  font-weight: 400;
  color: #303133;
  text-align: center;
  padding-top: 0.30rem;
  padding-bottom: 0.30rem;
}
.vcontainer{
  padding: 0 0.32rem;
}
 