
.scroll-banner{
  position: relative;
  width: 100%;
  background: #2F2F2FFF;
  margin: 0 auto;
  color: #fff;
  line-height:0.48rem;
  text-align: center;
}
.scroll-banner-content {
  height:0.48rem;
  overflow:hidden;
  
}
.scroll-banner-content > div > div {
  color:#fff;
  font-size: 0.22rem;
  line-height:0.48rem;
  display:inline-block;
}
.scroll-banner-content div:first-child {
   animation: show 10s linear infinite;
}
@keyframes show {
  0% {margin-top:0rem;}
  25% {margin-top:0rem;}
  50% {margin-top:0rem;}
  75% {margin-top:-0.48rem;}
  100% {margin-top:-0.48rem;}
}
