{% layout '../layout/theme.liquid' %}

{% block 'notice' %}
{% render '../sections/notice.liquid' %}
{% endblock %}
{% block 'nav' %}
{% render '../sections/nav.liquid' %}
{% endblock %}
{% block 'banner' %}
{% render '../sections/banner.liquid' %}
{% endblock %}
{% block 'vcontainer' %}
<section >
  <div class="newProduct1">
    <div class="productCategory">NEW PRODUCTS</div>
    {% render './sections/productItem.liquid',swiperContainerName:'swiper-container-1',buttonNext: 'buttonNext-1',buttonPrev: 'buttonPrev-1' %}
  </div>
  <div class="newProduct1">
    <div class="productCategory ">NEW PRODUCTS</div>
    <div class="sliver-bag clearfix">
      <div class="sliver-bag-left">
        <img src="./assets/images/Bitmap@2x(9).png" alt="">
      </div>
      <div class="sliver-bag-right">
        <div ><span class="title">Silver Bag</span><span>NEW</span></div>
        <div>Shoes</div>
        <p>Pellentesque vehicula, est sit sollicitudin.</p>
        <div>$34.00</div>
        <div>
          <img src="./assets/images/btn_shopNow@2x(2).png" alt="">
        </div>
      </div>
    </div>
    <div class="sliver-bag clearfix">
    <div class="sliver-bag-left">
      <img src="./assets/images/Bitmap@2x(9).png" alt="">
    </div>
    <div class="sliver-bag-right">
      <div class="title"><span >Silver Bag</span><span>NEW</span></div>
      <div>Shoes</div>
      <p>Pellentesque vehicula, est sit sollicitudin.</p>
      <div>$34.00</div>
      <div>
        <img src="./assets/images/btn_shopNow@2x(2).png" alt="">
      </div>
    </div>
    </div>
  </div>
  <style>
    .sliver-bag{
      padding: 0.3rem 0.12rem;     
      border-radius: 2px;
      border: 1px solid #D9D9D9;
      margin-bottom: 0.2rem;
    }
    .sliver-bag-left{
      float: left;
      width: 3.7rem;
      height: 2.8rem;
    }
    .sliver-bag-left img{
      width: 100%;
      height: auto;
    }
    .sliver-bag .title{
      font-size: 0.28rem;
      font-family: Aileron-SemiBold, Aileron;
      font-weight: 600;
      color: #303133;
      line-height: 0.32rem;
    }
    .sliver-bag-right{
      float: right;
    }
  </style>
  <div class="newProduct1">
    <div class="productCategory ">NEW PRODUCTS</div>
    {% render '../sections/productItem.liquid',swiperContainerName:'swiper-container-2',buttonNext: 'buttonNext-2',buttonPrev: 'buttonPrev-2' %}
  </div>
  <script>
    const swiperContainer = [
        { swiperContainerName: 'swiper-container-1', buttonNext: 'buttonNext-1', buttonPrev: 'buttonPrev-1' },
        { swiperContainerName: 'swiper-container-2', buttonNext: 'buttonNext-2', buttonPrev: 'buttonPrev-2' },
      ]
    for (let i = 0; i < swiperContainer.length; i++) {
      var swiper = new Swiper('.'+ swiperContainer[i].swiperContainerName, {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 15,
        nextButton: '.'+ swiperContainer[i].buttonNext,
        prevButton: '.'+ swiperContainer[i].buttonPrev,
      });
      
    }
    
  </script>
  
</section>
{% endblock %}